---
import { getCollection } from 'astro:content';
import client from '../../../tina/__generated__/client';
import OrganizationPage from '../../../tina/pages/OrganizationPage';
import ContentLayout from '../../layouts/ContentLayout.astro';

export async function getStaticPaths() {
  const organizations = await getCollection('organizations');

  return organizations.map((org) => ({
    params: { id: org.data.orgId.toUpperCase() },
    props: {
      organization: org,
      getTinaProps: async () =>
        client.queries.organization({
          relativePath: org.data.tinaInfo.relativePath,
        }),
    },
  }));
}

const { getTinaProps, organization } = Astro.props;
const tinaProps = await getTinaProps();
---

<ContentLayout title={`Eidolon Capital Intranet - Organization - ${organization.data.name}`}>
  <div class="window">
    <OrganizationPage {...tinaProps} client:tina />
  </div>

  <hr>

  <a href="/organizations">
    <button class="mt-2">← Back to Organizations</button>
  </a>
</ContentLayout>
