---
import ContentLayout from '../../layouts/ContentLayout.astro';

export async function getStaticPaths() {
  const organizations = await Astro.glob('../../content/organizations/*.md');

  return organizations.map((org) => ({
    params: { id: org.frontmatter.orgId.toLowerCase() },
    props: { organization: org }
  }));
}

const { organization } = Astro.props;
const { Content, frontmatter } = organization;
---

<ContentLayout title={`${frontmatter.name} - Organization Profile`}>
  <h1>Organization Profile</h1>
  <div class="field-border">
    <article>
      <Content />
    </article>
  </div>

  <hr>

  <a href="/organizations">
    <button>← Back to Organizations</button>
  </a>
</ContentLayout>
