@import "tailwindcss";

:root {
  --bg-color: #515151;
  --font-family: 'MS Sans Serif', sans-serif;
}

body {
  background-color: var(--bg-color);
  font-family: var(--font-family);
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 10px;
  min-height: 100vh;
}