@import "tailwindcss";

:root {
  --bg-color: #515151;
  --font-family: 'MS Sans Serif', sans-serif;
  --base-font-size: 14px;
}

body {
  background-color: var(--bg-color);
  font-family: var(--font-family);
  font-size: var(--base-font-size);
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 10px;
  min-height: 100vh;
}

button, table, .window{
  font-size: var(--base-font-size)
}

[data-tooltip] {
  position: relative;
}

[data-tooltip]::after {
  content: attr(data-tooltip);
  position: absolute;
  bottom: 100%;
  left: 50%;
  transform: translateX(-50%);
  padding: 4px 8px;
  background: #333;
  color: #fff;
  font-size: 12px;
  white-space: nowrap;
  border-radius: 3px;
  opacity: 0;
  pointer-events: none;
  transition: opacity 0.1s;
  z-index: 1000;
}

[data-tooltip]:hover::after {
  opacity: 1;
}