---
import { getCollection } from 'astro:content';
import ContentLayout from '../layouts/ContentLayout.astro';
import EmployeesListing from '../components/EmployeesListing';
import hrIcon from '../assets/Icons/Employees Icon.png';
import Icon from '../components/Icon.astro';

const employees = await getCollection('employees');
const employeesData = employees.map(emp => ({
  id: emp.data.id,
  name: emp.data.name,
  position: emp.data.position,
  department: emp.data.department,
}));
---

<ContentLayout title="Eidolon Capital Intranet - Employees">
  <h1 class="flex items-center justify-between" style="font-size: clamp(24px, 8vw, 48px);">
    Employee Directory
    <Icon class="mr-4" src={hrIcon} size={96} />
  </h1>

  <EmployeesListing employees={employeesData} client:load />
</ContentLayout>

