---
import MainLayout from '../layouts/MainLayout.astro';
---

<MainLayout title="Eidolon Capital - Secure Login">
  <h2 class="window-header">Authorized Access Only</h2>
  <div class="status-field-border warning-box">
    <strong>⚠️ WARNING</strong><br>
    <p>
      All access to the Eidolon Capital Corporate Intranet is strictly controlled
      and monitored.
    </p>
    <p>
      All unauthorized access will be prosecuted under EID-ORD-6998 and
      result in immediate termination,
    </p>
  </div>

  <a href="/dashboard">
    <button type="button" class="login-button">Login</button>
  </a>

  <div class="status-bar">
    <div class="status-bar-field">Eidolon Capital Security Gateway</div>
    <div class="status-bar-field">v1.65.267</div>
  </div>
</MainLayout>

<style>
  .login-window {
    width: 300px;
    margin: 0 auto;
  }
  .warning-box {
    padding: 10px;
    margin-bottom: 10px;
  }
  .login-button {
    font-size: 20px;
    width: 70%;
    height: 40px;
    margin: 0 auto;
    display: block;
  }
</style>