---
import Icon from "../components/Icon.astro";
import MainLayout from "../layouts/MainLayout.astro";
import logo from "../assets/Logo.png"
---

<MainLayout title="Eidolon Capital Intranet - Login">
  <div class="window">
    <div class="title-bar">
      <div class="title-bar-text">Eidolon Capital - Secure Login</div>
    </div>
    <main>
      <div class="window-body">
        <Icon src={logo} size={160} class="mx-auto block"/>
        <h1 class="text-center">Authorized Access Only</h1>
        <div class="field-border p-2!">
          <strong>⚠️ WARNING</strong>
          <p>All access to the Eidolon Capital Corporate Intranet is strictly controlled and monitored.</p>
          <p>Any unauthorized access will be prosecuted under EID-ORD-6998 and result in immediate termination.</p>
        </div>
        <button type="button" class="block mx-auto my-3 h-10 text-xl! w-[70%]" id="loginButton">Login</button>
        <div class="progress-indicator segmented hidden w-[70%] mx-auto my-1 h-4" id="progressBar">
          <span class="progress-indicator-bar" id="progressBarFill"></span>
        </div>
        <div class="status-bar">
          <div class="status-bar-field">Eidolon Capital Security Gateway</div>
          <div class="status-bar-field">v1.65.267</div>
        </div>
      </div>
    </main>
  </div>
</MainLayout>

<script>
  import { navigate } from "astro:transitions/client";

  const loginButton = document.getElementById("loginButton") as HTMLButtonElement;
  const progressBar = document.getElementById("progressBar") as HTMLDivElement;
  const progressBarFill = document.getElementById("progressBarFill") as HTMLSpanElement;

  loginButton.addEventListener("click", () => {
    // Disable button and show progress bar
    loginButton.disabled = true;
    loginButton.innerText = "Logging In";
    progressBar.classList.remove("hidden");

    // Animate progress bar over 1.5 seconds
    const duration = 1500;
    const startTime = Date.now();

    const animate = () => {
      const elapsed = Date.now() - startTime;
      let progress = Math.min((elapsed / duration) * 100, 100);
      progress = progress - (progress % 10)
      
      progressBarFill.style.width = `${progress}%`;

      if (elapsed < duration) {
        requestAnimationFrame(animate);
      } else {
        navigate("/dashboard")
      }
    };

    requestAnimationFrame(animate);
  });
</script>
