---
import { getCollection } from 'astro:content';
import ContentLayout from '../layouts/ContentLayout.astro';
import OrganizationsListing from '../components/OrganizationsListing';
import orgIcon from '../assets/Icons/Organization Icon.png';
import Icon from '../components/Icon.astro';

const organizations = await getCollection('organizations');
const organizationsData = organizations.map(org => ({
  id: org.data.id,
  name: org.data.name,
  type: org.data.type,
  relationship: org.data.relationship,
  established: org.data.established,
  location: org.data.location,
}));
---

<ContentLayout title="Eidolon Capital Intranet - Organizations">
  <h1 class="flex items-center justify-between">
    Partner Organizations
    <Icon src={orgIcon} size={96} />
  </h1>

  <OrganizationsListing organizations={organizationsData} client:load />

  <hr>
</ContentLayout>

