---
import { getCollection } from 'astro:content';
import client from '../../../tina/__generated__/client';
import AnomalyPage from '../../../tina/pages/AnomalyPage';
import ContentLayout from '../../layouts/ContentLayout.astro';

export async function getStaticPaths() {
  const anomalies = await getCollection('anomalies');

  return anomalies.map((anomaly) => ({
    params: { id: anomaly.data.anomalyId.toUpperCase() },
    props: {
      anomaly,
      getTinaProps: async () =>
        client.queries.anomaly({
          relativePath: anomaly.data.tinaInfo.relativePath,
        }),
    },
  }));
}

const { getTinaProps, anomaly } = Astro.props;
const tinaProps = await getTinaProps();
---

<ContentLayout title={`Eidolon Capital Intranet - Anomaly - ${anomaly.data.title}`}>
  <div class="window">
    <AnomalyPage {...tinaProps} client:tina />
  </div>

  <hr>

  <a href="/anomalies">
    <button class="mt-2">← Back to Reports</button>
  </a>
</ContentLayout>
