---
import ContentLayout from '../../layouts/ContentLayout.astro';

export async function getStaticPaths() {
  const anomalies = await Astro.glob('../../content/anomalies/*.md');

  return anomalies.map((anomaly) => ({
    params: { id: anomaly.frontmatter.anomalyId.toLowerCase() },
    props: { anomaly }
  }));
}

const { anomaly } = Astro.props;
const { Content, frontmatter } = anomaly;
---

<ContentLayout title={`${frontmatter.title} - Anomaly Report`}>
  <h2>{frontmatter.title}</h2>
  <div class="field-border">
    <article>
      <Content />
    </article>
  </div>

  <hr>

  <a href="/anomalies">
    <button>← Back to Reports</button>
  </a>
</ContentLayout>
