---
interface Props {
  title: string;
  class?: string;
}

const { title, class: className } = Astro.props;
---

<div class:list={["card", "flex", "flex-col", "mt-0", "p-3", className]}>
  <div class="flex justify-between items-start">
    <h3>{title}</h3>
    <slot name="icon" />
  </div>
  <div class="grow">
    <slot />
  </div>
  <div class="mt-2">
    <slot name="bottom" />
  </div>
</div>

<style>
  .card {
    background: var(--surface);
    box-shadow:
      inset -1px -1px var(--border-dark),
      inset 1px 1px var(--surface-dark),
      inset -2px -2px var(--border-medium),
      inset 2px 2px var(--border-light);
  }
</style>
