---
interface Props {
  class?: string;
}

const { class: className } = Astro.props;
---

<div class:list={["sunken-panel", "w-auto", "inline-block", className]}>
  <table class="w-auto">
    <slot />
  </table>
</div>
