---
import { getCollection } from 'astro:content';
import client from '../../../tina/__generated__/client';
import EmployeePage from '../../../tina/pages/EmployeePage';
import ContentLayout from '../../layouts/ContentLayout.astro';

export async function getStaticPaths() {
  const employees = await getCollection('employees');

  return employees.map((employee) => ({
    params: { id: employee.data.employeeId.toUpperCase() },
    props: {
      employee,
      getTinaProps: async () =>
        client.queries.employee({
          relativePath: employee.data.tinaInfo.relativePath,
        }),
    },
  }));
}

const { getTinaProps, employee } = Astro.props;
const tinaProps = await getTinaProps();
---

<ContentLayout title={`Eidolon Capital Intranet - Employee - ${employee.data.name}`}>
  <div class="window">
    <EmployeePage {...tinaProps} client:tina />
  </div>

  <hr>

  <a href="/employees">
    <button class="mt-2">← Back to Directory</button>
  </a>
</ContentLayout>
