---
import ContentLayout from '../../layouts/ContentLayout.astro';

export async function getStaticPaths() {
  const employees = await Astro.glob('../../content/employees/*.md');

  return employees.map((employee) => ({
    params: { id: employee.frontmatter.employeeId.toLowerCase() },
    props: { employee }
  }));
}

const { employee } = Astro.props;
const { Content, frontmatter } = employee;
---

<ContentLayout title={`${frontmatter.name} - Employee Profile`}>
  <h2>{frontmatter.name}</h2>
  <div class="field-border">
    <article>
      <Content />
    </article>
  </div>

  <hr>

  <a href="/employees">
    <button>← Back to Directory</button>
  </a>
</ContentLayout>
